html, body, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

body {
  background: #233142;
  font-family: helvetica, arial, sans-serif;
  font-size: 15px;
  color: #333333;
  line-height: 2;
}

.right{
  float:right;
}
.text{
  font-size: 20px;
  line-height: 3;
}
button{
  background: transparent;
  border: none;
}